._vaz{margin-bottom:10px}._vaz>._va-{height:auto}
.sp_Cu2krmN4koc{background-image:url(/rsrc.php/v3/yu/r/KFryR5cYyrs.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Cu2krmN4koc.sx_8d4cce{background-position:0 0}.sp_Cu2krmN4koc.sx_dbb68c{background-position:0 -17px}

#bootloader_aPiEC{height:42px;}.bootloader_aPiEC{display:block!important;}